.advantages-block {
    box-sizing: border-box;
    padding: 100px;
    width: 100%;
    height: 1080px;
    background-color: #004060;
    position: relative;
    z-index: 1;
}

.advantages-block__percent {
    margin-left: 130px;
    font-weight: 700;
    font-size: 4.7rem;
    line-height: 4rem;
    color: #004060;
    position: relative;
    z-index: 0;
}

.advantages-block__percent::before {
    content: '94%';
    position: absolute;
    -webkit-text-stroke: 0.3rem #56A3CA; /* Chris Coyier's favorite color! */
    left: 0;
    z-index: -1;
}

/* .advantages-block__percent-back {
    position: absolute;
    font-weight: 700;
    font-size: 4.7rem;
    line-height: 4rem;
    color: #004060;
} */