.advantages-block {
    width: 100%;
    height: 1080px;
    background-color: #004060;
    position: relative;
    z-index: 0;
}

.advantages-block__content {
    box-sizing: border-box;
    height: 100%;
    padding: 100px 0 60px;
    border-left: 2px solid #005783;
    border-right: 2px solid #005783;
}

.advantages-block__percent {
    margin-left: 130px;
    font-weight: 700;
    font-size: 4.7rem;
    line-height: 4rem;
    color: #004060;
    position: relative;
    z-index: 0;
}

.advantages-block__percent::before {
    content: '94%';
    position: absolute;
    -webkit-text-stroke: 0.3rem #56A3CA;
    left: 0;
    z-index: -1;
}

.advantages-block__description {
	color: white;
	font-weight: 400;
	font-size: 1.62rem;
	line-height: 2.20rem;
}

.advantages-block__header {
	position: relative;
	z-index: 0;
	margin-bottom: 60px;
}

.advantages-block__header::after {
	content: "11";
	position: absolute;
	font-weight: 700;
	font-size: 51rem;
	line-height: 38rem;
	letter-spacing: -13rem;
	top: -60px;
	right: 160px;
	color: #ffffff33;
	-webkit-text-stroke: 3px white;
	text-stroke: 3px white;
	z-index: -1;
}

.advantages-block__background-img {
    position: absolute;
    z-index: -2;
    width: 934px;
    bottom:  -300px;
    left: -867px;
}

.advantages-block__list {
    width: 100%;
    display: none;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
	z-index: 1;
	position: relative;
}

.advantages-block__list--active {
    display: flex;
}

.advantages-block__list li {
    width: calc(100% / 3);
    height: 290px;
    color: #ffffff;
    padding: 60px 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advantages-block__list li:nth-child(1) {
	background-color: #396d9533;
}
.advantages-block__list li:nth-child(2) {
	background-color: #72a2c733;
}
.advantages-block__list li:nth-child(3) { 
	background-color: #396d9533;
	order: 4;
}
.advantages-block__list li:nth-child(4) { 
	background-color: #72a2c733;
	order: 5; 
}

.navigation-block {
	position: absolute;
	bottom: 0;
	left: 60px;
	z-index: 1;
}

.navigation-block__segment {
	transition: 0.3s;
	cursor: pointer;
	width: 16px;
	height: 16px;
	border: 2px solid #007AB7;
}

.navigation-block__segment:hover, .navigation-block__segment--active {
	border: 2px solid #ffffff;
	background-color: #ffffff;
}

@media all and (max-width: 1881px) {
    .advantages-block {
        height: 907px;
    }
    
    .advantages-block__content {
        padding: 84px 0 50px;
    }
    
    .advantages-block__percent {
        margin-left: 109px;
    }
    
    .advantages-block__header {
        margin-bottom: 50px;
    }
    
    .advantages-block__header::after {
        top: -50px;
        right: 134px;
    }
    
    .advantages-block__background-img {
        width: 784px;
        bottom: -252px;
        left: -728px;
    }
    
    .advantages-block__list li {
        height: 243px;
        padding: 50px 50px;
    }

    .navigation-block {
        left: 50px;
    }
    
    .navigation-block__segment {
        width: 13px;
        height: 13px;
    }
}

@media all and (max-width: 1561px) {
    .advantages-block {
        height: 756px;
    }
    
    .advantages-block__content {
        padding: 70px 0 42px;
    }
    
    .advantages-block__percent {
        margin-left: 91px;
    }
    
    .advantages-block__header {
        margin-bottom: 42px;
    }
    
    .advantages-block__header::after {
        top: -42px;
        right: 112px;
    }
    
    .advantages-block__background-img {
        width: 653px;
        bottom: -210px;
        left: -606px;
    }
    
    .advantages-block__list li {
        height: 203px;
        padding: 42px 42px;
    }

    .navigation-block {
        left: 42px;
    }
    
    .navigation-block__segment {
        width: 11px;
        height: 11px;
    }
}

@media all and (max-width: 1295px) {
    .advantages-block {
        height: 648px;
    }
    
    .advantages-block__content {
        padding: 60px 0 36px;
    }
    
    .advantages-block__percent {
        margin-left: 78px;
    }
    
    .advantages-block__header {
        margin-bottom: 36px;
    }
    
    .advantages-block__header::after {
        top: -36px;
        right: 96px;
    }
    
    .advantages-block__background-img {
        width: 560px;
        bottom: -180px;
        left: -520px;
    }
    
    .advantages-block__list li {
        height: 174px;
        padding: 36px 36px;
    }

    .navigation-block {
        left: 36px;
    }
    
    .navigation-block__segment {
        width: 9px;
        height: 9px;
    }
}

@media all and (max-width: 1110px) {
    .advantages-block {
        height: 540px;
    }
    
    .advantages-block__content {
        padding: 50px 0 30px;
        border-left: 1px solid #005783;
        border-right: 1px solid #005783;
    }
    
    .advantages-block__percent {
        margin-left: 65px;
    }
    
    .advantages-block__header {
        margin-bottom: 30px;
    }
    
    .advantages-block__header::after {
        top: -30px;
        right: 80px;
        -webkit-text-stroke: 1.5px white;
        text-stroke: 1.5px white;
    }
    
    .advantages-block__background-img {
        width: 467px;
        bottom: -150px;
        left: -433px;
    }
    
    .advantages-block__list li {
        height: 145px;
        padding: 30px 25px;
    }

    .navigation-block {
        left: 30px;
    }
    
    .navigation-block__segment {
        width: 8px;
        height: 8px;
        border: 1px solid #007AB7;
    }
    
    .navigation-block__segment:hover, .navigation-block__segment--active {
        border: 1px solid #ffffff;
    }

}

@media all and (max-width: 961px) {
    .advantages-block {
        height: auto;
    }
    
    .advantages-block__content {
        box-sizing: border-box;
        height: 100%;
        padding: 60px 0;
        border: none;
    }
    
    .advantages-block__percent {
        margin-left: 0px;
    }
    
    .advantages-block__percent::before {
        -webkit-text-stroke: 0.3rem #56A3CA;
    }
    
    .advantages-block__description {
        color: white;
        font-weight: 400;
        font-size: 1.62rem;
        line-height: 2.20rem;
    }
    
    .advantages-block__header {
        margin-bottom: 40px;
    }
    
    .advantages-block__header::after {
        font-size: 30rem;
        line-height: 25rem;
        letter-spacing: -7rem;
        top: -30px;
        right: 24px;
        -webkit-text-stroke: 2px white;
        text-stroke: 2px white;
    }

    .advantages-block__header-text {
        width: calc(100% - 200px);
    }

    .advantages-block__satisfaction {
        margin-top: 20px;
    }
    
    .advantages-block__background-img {
        position: absolute;
        z-index: -2;
        width: 400px;
        bottom: -60px;
        left: -315px;
    }
    
    .advantages-block__list {
        width: 100%;
    }
    
    .advantages-block__list li {
        width: calc(100% / 2);
        height: 290px;
        color: #ffffff;
        padding: 30px 30px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 30px;
    }

    .advantages-block__list li:nth-child(3) { 
        background-color: #72a2c733;
        order: unset;
    }
    .advantages-block__list li:nth-child(4) { 
        background-color: #396d9533;
        order: unset; 
    }
    .advantages-block__list li:nth-child(5) { 
        display: none;
    }
    .advantages-block__list li:nth-child(6) { 
        display: none;
    }
    
    .navigation-block {
        position: static;
        margin-top: 30px;
    }
    
    .navigation-block__segment {
        width: 16px;
        height: 16px;
        border: 2px solid #007AB7;
    }
    
    .navigation-block__segment:hover, .navigation-block__segment--active {
        border: 2px solid #ffffff;
    }
}

/* @media all and (max-width: 1881px) {
    .advantages-block {
        height: 1080px;
    }
    
    .advantages-block__content {
        padding: 100px 0 60px;
    }
    
    .advantages-block__percent {
        margin-left: 130px;
    }
    
    .advantages-block__header {
        margin-bottom: 60px;
    }
    
    .advantages-block__header::after {
        top: -60px;
        right: 160px;
    }
    
    .advantages-block__background-img {
        width: 934px;
        bottom: -300px;
        left: -867px;
    }
    
    .advantages-block__list li {
        height: 290px;
        padding: 60px 60px;
    }

    .navigation-block {
        left: 60px;
    }
    
    .navigation-block__segment {
        width: 16px;
        height: 16px;
    }
} */