.contacts-block {
    width: 100%;
    height: 100vh;
    background-color: #004060;
    position: relative;
    z-index: 0;
}

.contacts-block__content {
    display: grid;
    grid-template-rows: 13% 14% 25% 34% 14%;
    grid-template-columns: auto 600px;
    box-sizing: border-box;
    height: 100%;
}

.contacts-block__header {
    grid-row: 1 / 2;
    align-self: end;
}

.contacts-block__icons {
    grid-row: 2 / 3;
    align-self: end;
}

.contacts-block__icon {
    width: 96px;
    height: 96px;
    border: 2px solid #005783;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}
.contacts-block__icon img {
    height: 40px;
}

.contacts-block__icon:hover {
    background-color: #005783;
}

.contacts-block__websites {
    grid-row: 3 / 4;
    border-left: 2px solid #005783;
}

.contacts-block__address {
    grid-row: 4 / 5;
    border-left: 2px solid #005783;
}
.contacts-block__address span {
    color: #7DD3FF;
}

.contacts-block__request  {
    grid-row: 5 / 6;
    border-left: 2px solid #005783;
}

.contacts-block__request span {
    font-weight: 100;
    font-size: 1.3rem;
    line-height: 1.4rem;
}

.contacts-block__background {
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    border-left: 2px solid #005783;
    border-right: 2px solid #005783;
}

.contacts-block__background-img {
    position: absolute;
    z-index: 0;
    width: 963px;
    top: 12%;
    left: -48%;
}

.contacts-block__copyright {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    border-left: 2px solid #005783;
    border-right: 2px solid #005783;
}

.contacts-block__copyright span {
    color: #2888C4;
    font-size: 1.65rem;
}

@media all and ( (max-width: 1881px) or (max-height: 984px) ) {
    .contacts-block__content {
        grid-template-columns: auto 504px;
    }
    
    .contacts-block__icon {
        width: 80px;
        height: 80px;
    }
    .contacts-block__icon img {
        height: 33px;
    }
    
    .contacts-block__background-img {
        width: 808px;
    }
}

@media all and ( (max-width: 1561px) or (max-height: 835px) ) {
    .contacts-block__content {
        grid-template-columns: auto 420px;
    }
    
    .contacts-block__icon {
        width: 67px;
        height: 67px;
    }
    .contacts-block__icon img {
        height: 28px;
    }
    
    .contacts-block__background-img {
        width: 674px;
    }
}

@media all and ( (max-width: 1295px) or (max-height: 698px) ) {
    .contacts-block__content {
        grid-template-columns: auto 360px;
    }

    .contacts-block__icon {
        width: 57px;
        height: 57px;
    }
    .contacts-block__icon img {
        height: 24px;
    }
    
    .contacts-block__background-img {
        width: 577px;
    }
}

@media all and ( (max-width: 1110px) or (max-height: 556px) ) {
    .contacts-block__content {
        grid-template-columns: auto 300px;
    }

    .contacts-block__icon {
        width: 48px;
        height: 48px;
        border: 1px solid #005783;
    }
    .contacts-block__icon img {
        height: 20px;
    }

    .contacts-block__websites {
        border-left: 1px solid #005783;
    }
    
    .contacts-block__address {
        border-left: 1px solid #005783;
    }
    
    .contacts-block__request  {
        border-left: 1px solid #005783;
    }

    .contacts-block__background {
        border-left: 1px solid #005783;
        border-right: 1px solid #005783;
    }
    
    .contacts-block__background-img {
        width: 481px;
    }

    .contacts-block__copyright {
        border-left: 1px solid #005783;
        border-right: 1px solid #005783;
    }
}

@media all and (max-width: 961px) {
    .contacts-block {
        width: 100%;
        height: auto;
    }
    
    .contacts-block__content {
        height: 100%;
        /* padding: 60px 0 39px; */
        border-right: none;
    }

    .contacts-block__header {
        align-items: start;
    }
    
    .contacts-block__icons {
        margin-bottom: 60px;
    }
    
    .contacts-block__icon {
        width: 96px;
        height: 96px;
    }
    .contacts-block__icon img {
        height: 40px;
    }
    
    .contacts-block__websites {
        margin-bottom: 60px;
        margin-left: 5px;
    }
    
    .contacts-block__address {
        margin-bottom: 60px;
        margin-left: 0px;
        width: 100%;
    }
    .contacts-block__address p {
        font-size: 3rem;
        line-height: normal;
    }
    
    .contacts-block__background-img {
        z-index: -1;
        width: 400px;
        top: 100px;
        left: -350px;
    }

    .contacts-block__request {
        flex-direction: column;
        gap: 20px;
    }
    .contacts-block__request span {
        font-size: 1.8rem;
        line-height: normal;
        text-align: center;
    }
    
    .contacts-block__copyright {
        font-size: 1.65rem;
        margin-top: 30px;
        margin-right: 0;

    }
}