@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat-Black.eot');
	src: local('Akrobat Black'), local('Akrobat-Black'),
		url('../fonts/Akrobat-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat-Black.woff') format('woff'),
		url('../fonts/Akrobat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}


@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat-ExtraBold.eot');
	src: local('Akrobat ExtraBold'), local('Akrobat-ExtraBold'),
		url('../fonts/Akrobat-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat-ExtraBold.woff') format('woff'),
		url('../fonts/Akrobat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat-Bold.eot');
	src: local('Akrobat Bold'), local('Akrobat-Bold'),
		url('../fonts/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat-Bold.woff') format('woff'),
		url('../fonts/Akrobat-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat-SemiBold.eot');
	src: local('Akrobat SemiBold'), local('Akrobat-SemiBold'),
		url('../fonts/Akrobat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat-SemiBold.woff') format('woff'),
		url('../fonts/Akrobat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat-Regular.eot');
	src: local('Akrobat Regular'), local('Akrobat-Regular'),
		url('../fonts/Akrobat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat-Regular.woff') format('woff'),
		url('../fonts/Akrobat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat-Light.eot');
	src: local('Akrobat Light'), local('Akrobat-Light'),
		url('../fonts/Akrobat-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat-Light.woff') format('woff'),
		url('../fonts/Akrobat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat-ExtraLight.eot');
	src: local('Akrobat ExtraLight'), local('Akrobat-ExtraLight'),
		url('../fonts/Akrobat-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat-ExtraLight.woff') format('woff'),
		url('../fonts/Akrobat-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat-Thin.eot');
	src: local('Akrobat Thin'), local('Akrobat-Thin'),
		url('../fonts/Akrobat-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat-Thin.woff') format('woff'),
		url('../fonts/Akrobat-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

.f-weight-900 {
	font-weight: 900;
}

.f-weight-800 {
	font-weight: 800;
}

.f-weight-700 {
	font-weight: 700;
}

.f-weight-600 {
	font-weight: 600;
}

.f-weight-400 {
	font-weight: 400;
}

.f-weight-300 {
	font-weight: 300;
}

.f-weight-200 {
	font-weight: 200;
}

.f-weight-100 {
	font-weight: 100;
}

.f-size-10 {
	font-size: 0.1rem;
}

.f-size-20 {
	font-size: 0.2rem;
}

.f-size-30 {
	font-size: 0.3rem;
}

.f-size-40 {
	font-size: 0.4rem;
}

.f-size-50 {
	font-size: 0.5rem;
}

.f-size-60 {
	font-size: 0.6rem;
}

.f-size-70 {
	font-size: 0.7rem;
}

.f-size-80 {
	font-size: 0.8rem;
}

.f-size-90 {
	font-size: 0.9rem;
}

.f-size-100 {
	font-size: 1rem;
}

.f-size-110 {
	font-size: 1.1rem;
}

.f-size-120 {
	font-size: 1.2rem;
}

.f-size-130 {
	font-size: 1.3rem;
}

.f-size-150 {
	font-size: 1.5rem;
}

.f-size-160 {
	font-size: 1.6rem;
}

.line-height-80 {
	line-height: 0.8rem;
}

.line-height-90 {
	line-height: 0.9rem;
}

.line-height-100 {
	line-height: 1rem;
}

.line-height-120 {
	line-height: 1.2rem;
}

.line-height-220 {
	line-height: 2.2rem;
}