.nav {
    position: absolute;
    top: 0;
    right: -90px;
    height: calc(800% - 50px);
    z-index: 2;
    /* position: sticky;
    top: 0; */
}

.nav ul {
    position: sticky;
    /* top: 50%; */
    /* z-index: 2; */
    top: calc(50% - 310px);
    /* right: 0; */
}

.nav a {
    display: block;
    width: 100%;
    height: 100%;
}

.nav-links {
    width: 10px;
    height: 60px;
    border-radius: 2px;
    background-color: #00334D;
}

.nav-links--active {
    background-color: #ffffff;
}

.right-side-text {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -120px;
    height: calc(800% - 50px);
}

.right-side-text div {
    position: sticky;
    top: calc(50% - 310px);
}

.right-side-text p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.3rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #1274a666;
    text-align: center;
    text-transform: uppercase;
}

.home-block {
    width: 100%;
    height: 1080px;
    background-color: #004060;
    position: relative;
    z-index: 2;
}

.home-block__content {
    box-sizing: border-box;
    height: 100%;
    padding: 100px 0;
}

.home-block__header {
    margin-bottom: 150px;
}

.home-block__body {
    margin-bottom: 80px;
}

.home-block__text {
    position: relative;
    margin-bottom: 55px;
    width: 950px;
}

.home-block__description {
    position: absolute;
    bottom: -30px;
    left: 300px;
}

.home-block__background-img {
    position: absolute;
    z-index: -1;
    width: 874px;
    top: -40px;
    left: -140px;
}

.video-block {
    box-sizing: border-box;
    width: 600px;
    height: 480px;
    background: #003047cc;
    padding: 40px;
}
.video-block.video-block_white {
    background: #2a576e99;
}

.video-block__video {
    width: 520px;
    height: 330px;
    background-color: #000000;
    border-radius: 10px;
}

.video-block__description {
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-weight: 300;
    color: #007ab7;
}
.video-block__description_white {
    color: #ffffff;
}

.v-line {
    position: absolute;
    border-left: 2px solid #005783;
    z-index: -1;
}

.home-block__price-btn .v-line {
    border-left: 2px solid #005783;
    border-right: 2px solid #005783;
    height: 150px;
    width: 258px;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.home-block__video .v-line {
    border-left: 2px solid #005783;
    border-right: 2px solid #005783;
    width: 596px;
    top: 0;
    left: 0;
    height: 780px;
}

.home-block__case-btn .v-line__left {
    bottom: -160px;
    left: 0;
    height: 900px;
}

.home-block__case-btn .v-line__right {
    top: 0;
    left: 258px;
    height: 220px;
}