.navigation {
    position: absolute;
    top: 0;
    right: -90px;
    height: calc(800% - 50px);
    z-index: 2;
}

.navigation__list {
    position: sticky;
    top: calc(50% - 310px);
}

.navigation__link a {
    display: block;
    width: 100%;
    height: 100%;
}

.navigation__link {
    width: 10px;
    height: 60px;
    transition: 0.3s;
    border-radius: 2px;
    background-color: #00334D;
}

.navigation__link--active, .navigation__link:hover {
    background-color: #ffffff;
}

.navigation_white .navigation__link {
    background-color: #D5E1EE;
}
.navigation_white .navigation__link--active, .navigation_white .navigation__link:hover {
    background-color: #56A3CA;
}

.left-side {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -120px;
    height: calc(800% - 50px);
}

.left-side__text {
    position: sticky;
    top: calc(50% - 310px);
}

.left-side__text p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.3rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #1274a666;
    text-align: center;
    text-transform: uppercase;
}

.home-block {
    width: 100%;
    height: 100vh;
    background-color: #004060;
    position: relative;
    z-index: 2;
}

.home-block__content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, minmax(180px, auto));
    grid-template-rows: 17% 63% 20%;
}

.home-block__logo {
    grid-column-start: 1;
    grid-column-end: 6;
    align-self: end;
    margin-bottom: 3vh;
}

.home-block__price-btn {
    display: flex;
    align-items: end;
    margin-bottom: 2.7vh;
    border-left: 2px solid #005783;
    border-right: 2px solid #005783;
}

.home-block__text {
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: 13.9vh;
    border-left: 2px solid #005783;
}

.home-block__description {
    position: absolute;
    bottom: -30px;
    left: 300px;
}

.home-block__video {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-top: 11.1vh;
    justify-self: end;
    border-left: 2px solid #005783;
    border-right: 2px solid #005783;
}

.home-block__background-img {
    position: absolute;
    z-index: -1;
    width: 874px;
    top: -35px;
    left: -140px;
}

.home-block__case-btn {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    border-left: 2px solid #005783;
    border-right: 2px solid #005783;
}

.home-block__case-text {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 5px;
    margin-left: 40px;
}

.video-block {
    box-sizing: border-box;
    width: 600px;
    height: 480px;
    background: #003047cc;
    padding: 40px;
}
.video-block.video-block_white {
    background: #2a576e99;
}

.video-block__video {
    width: 520px;
    height: 330px;
    background-color: #000000;
    border-radius: 10px;
}

.video-block__description {
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-weight: 300;
    color: #007ab7;
}
.video-block__description_white {
    color: #ffffff;
}

.v-line {
    position: absolute;
    border-left: 2px solid #005783;
    z-index: -1;
}

@media all and ( (max-width: 1881px) or (max-height: 984px) ) {
    .navigation {
        right: -75px;
        height: calc(800% - 41px);
    }
    
    .navigation__list {
        position: sticky;
        top: calc(50% - 260px);
    }
    
    .navigation__link {
        width: 8px;
        height: 50px;
    }
    
    .left-side {
        height: calc(800% - 41px);
        left: -100px;
    }

    .left-side__text {
        top: calc(50% - 260px);
    }
    
    .home-block__content {
        grid-template-columns: repeat(6, minmax(150px, auto));
    }

    .home-block__case-text {
        margin-top: 4px;
        margin-left: 33px;
    }
    
    .home-block__description {
        bottom: -25px;
        left: 250px;
    }
    
    .home-block__background-img {
        width: 734px;
        top: -25px;
        left: -115px;
    }
    
    .video-block {
        width: 504px;
        height: 403px;
        padding: 33px;
    }
    
    .video-block__video {
        width: 436px;
        height: 277px;
        border-radius: 8px;
    }
}

@media all and ( (max-width: 1561px) or (max-height: 835px) ) {
    .navigation {
        right: -63px;
        height: calc(800% - 35px);
    }
    
    .navigation__list {
        top: calc(50% - 217px);
    }
    
    .navigation__link {
        width: 7px;
        height: 42px;
    }
    
    .left-side {
        left: -84px;
        height: calc(800% - 35px);
    }
    
    .left-side__text {
        top: calc(50% - 217px);
    }

    .home-block__content {
        grid-template-columns: repeat(6, minmax(90px, auto));
    }

    .home-block__content {
        grid-template-columns: repeat(6, minmax(126px, auto));
    }
    
    .home-block__description {
        bottom: -21px;
        left: 210px;
    }

    .home-block__case-text {
        margin-top: 3px;
        margin-left: 28px;
    }
    
    .home-block__background-img {
        width: 611px;
        top: -18px;
        left: -98px;
    }

    
    .video-block {
        width: 420px;
        height: 336px;
        padding: 28px;
    }
    
    .video-block__video {
        width: 364px;
        height: 237px;
        border-radius: 7px;
    }
}

@media all and ( (max-width: 1295px) or (max-height: 698px) ) {
    .navigation {
        right: -54px;
        height: calc(800% - 30px);
    }
    
    .navigation__list {
        top: calc(50% - 186px);
    }
    
    .navigation__link {
        width: 6px;
        height: 36px;
    }
    
    .left-side {
        left: -72px;
        height: calc(800% - 30px);
    }
    
    .left-side__text {
        top: calc(50% - 186px);
    }

    .home-block__content {
        grid-template-columns: repeat(6, minmax(108px, auto));
    }
    
    .home-block__description {
        bottom: -18px;
        left: 180px;
    }

    .home-block__case-text {
        margin-top: 3px;
        margin-left: 24px;
    }
    
    .home-block__background-img {
        width: 480px;
        top: -10px;
        left: -74px;
    }
    
    .video-block {
        width: 360px;
        height: 288px;
        padding: 24px;
    }
    
    .video-block__video {
        width: 312px;
        height: 198px;
        border-radius: 6px;
    }
}

@media all and ( (max-width: 1110px) or (max-height: 556px) ) {
    .navigation {
        right: -45px;
        height: calc(800% - 25px);
    }
    
    .navigation__list {
        top: calc(50% - 155px);
    }
    
    .navigation__link {
        width: 5px;
        height: 30px;
    }
    
    .left-side {
        left: -60px;
        height: calc(800% - 25px);
    }
    
    .left-side__text {
        top: calc(50% - 155px);
    }

    
    .home-block__price-btn {
        border-left: 1px solid #005783;
        border-right: 1px solid #005783;
    }

    .home-block__text {
        border-left: 1px solid #005783;
    }
    
    .home-block__description {
        bottom: -15px;
        left: 150px;
    }

    .home-block__case-text {
        margin-top: 2px;
        margin-left: 20px;
    }

    .home-block__video {
        border-left: 1px solid #005783;
        border-right: 1px solid #005783;
    }
    
    .home-block__background-img {
        width: 437px;
        top: -20px;
        left: -70px;
    }
    
    .home-block__case-btn {
        border-left: 1px solid #005783;
        border-right: 1px solid #005783;
    }
    
    .video-block {
        width: 300px;
        height: 240px;
        padding: 20px;
    }
    
    .video-block__video {
        width: 260px;
        height: 165px;
        border-radius: 5px;
    }

    .v-line {
        border-left: 1px solid #005783;
    }
}

@media all and (max-width: 961px) {
    .home-block {
        width: 100%;
        height: auto;
    }
    
    .home-block__content {
        box-sizing: border-box;
        height: 100%;
        /* padding: 100px 100px; */
    }

    .home-block__price-btn {
        width: 80%;
        height: 50px;
    }
    
    .home-block__text {
        position: relative;
        margin-bottom: 55px;
        width: 100%;
    }

    .home-block__text h1 {
        font-size: 5rem;
    }
    
    .home-block__description {
        position: static;
    }
    
    .home-block__background-img {
        width: 110%;
        top: -40px;
        left: -45px;
    }
    
    .video-block {
        width: 100%;
        aspect-ratio: 16 / 10;
        height: auto;
        padding: 30px;
    }

    .mobile-column {
        flex-direction: column;
        width: 100%;
    }
    
    .video-block__video {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    
    .video-block__description {
        font-size: 1.8rem;
        letter-spacing: 0.3rem;
    }

    .home-block__case-btn {
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }
    .home-block__case-btn span {
        font-size: 1.8rem;
        line-height: normal;
        text-align: center;
    }
    
    .v-line {
        display: none;
    }
}