/* ! RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    outline: 0;
    padding: 0;
    font-weight: inherit;
}

:focus {
    outline: 0;
    border: 0;
}

html,
body {
    height: 100vh;
}

html {
    font-size: 100%;
}

body {
    background: #fff;
    line-height: 1;
    font-size: 0.9rem;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
td {
    font-weight: normal;
    text-align: left;
}

a img {
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav {
    display: block;
}

img {
    border: 0;
    margin: 0;
}

/* a {
    color: #909090;
    outline: none;
    text-decoration: none;
}
a.underlined {
    text-decoration: underline;
}
a.black {
    color: #000000;
}
a:hover,
a.black:hover {
    color: #feaf3d;
} */

/* ! BASIC */

html,
body {
    font-family: 'PF DinDisplay Pro';
    height: 100%;
}

section {
    height: 100%;
    width: 100%;
}

span {
    color: #000000;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000000;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 5.6rem;
    margin-bottom: 55px;
    color: #FFFFFF;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.1rem;
    color: #00334D;
}

h2.bigger-header {
    font-size: 4.4rem;
    line-height: 5.6rem;
}

/* h3 { */
    /* font-size: 2rem;
    color: #000000; */
/* } */

h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2.3rem;
    color: #ffffff;
}

button {
    font-size: 1rem;
    width: 260px;
    height: 60px;
    padding: 0 20px;
    transition: 0.3s;
    cursor: pointer;
    box-sizing: border-box;
    background: #ffffff;
    color: #004060;
    text-transform: uppercase;
    font-family: 'PF DinDisplay Pro';
    font-weight: 500;
    font-size: 1.3rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
button:hover {
    background: #bcd3e5;
}

button.blue-btn {
    width: 260px;
    height: 60px;
    background: #00334D;
    color: #ffffff;
}
button.blue-btn:hover {
    background: #005783;
}

button.short {
    height: 50px;
}
button.sqaure-btn {
    width: 60px;
    height: 60px;
    border: 2px solid #007ab7;
    background: none;
}
button.sqaure-btn.sqaure-btn_white {
    border-color: #ffffff;
}
button.sqaure-btn:hover {
    background: #ffffffcc;
}

.wrapper {
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
}

.display-mobile {
    display: none;
}

.display-block {
    display: block;
}

.width-100 {
    width: 100%;
}
.width-80 {
    width: 80%;
}
.width-70 {
    width: 70%;
}
.width-60 {
    width: 60%;
}
.width-45 {
    width: 45%;
}
.width-35 {
    width: 35%;
}
.width-30 {
    width: 30%;
}
.width-25 {
    width: 25%;
}
.width-20 {
    width: 20%;
}
.width-15 {
    width: 15%;
}
.width-10 {
    width: 10%;
}

.height-100 {
    height: 100%;
}
.height-80 {
    height: 80%;
}

/*colors*/
.bg-blue {
    background-color: #004060;
}
.bg-white {
    background-color: #ffffff;
}
.bg-light-gray {
    color: #f5f5f5;
}
.dark-blue {
    color: #003651;
}
.blue {
    color: #3a6d96;
}
.light-blue {
    color: #bcd3e5;
}
.sky-blue {
    color: #56a3ca;
}

.black {
    color: #000000;
}
.white {
    color: #ffffff;
}

/* hr*/
.hr-list {
    background: #ececec;
    height: 1px;
    border: none;
}

/*links style*/
.t-dec-no {
    text-decoration: none;
}
.t-dec-no:hover {
    text-decoration: underline;
}

.underlined {
    border-bottom: 1px solid rgba(64, 64, 64, 0.1);
}

.underlined-text {
    text-decoration: underline;
}

/* .link {
    text-decoration: underline;
    color: rgb(0, 0, 238);
    cursor: pointer;
} */

.cursor-pointer {
    cursor: pointer;
}

.nopadding {
    padding: 0;
}

.autowidth {
    width: auto;
}

/* ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: #feaf3d;
} */

.bordered {
    border: 1px solid #cecece;
}

.shadowed {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.noshadow {
    box-shadow: none;
}
.nobg {
    background: none;
}

.ta-center {
    text-align: center;
}

/* @media all and (max-width: 1881px) {
    html {
        font-size: 84%;
    }
    h1 {
        margin-bottom: 20px;
    }
    h2 {
        margin-bottom: 15px;
    }
    h3 {
        margin-bottom: 3px;
    }
    h4 {
        margin-bottom: 3px;
    }
    section {
        width: calc(100vw - 169px);
    }

    button {
        width: 235px;
        height: 42px;
        padding: 0 17px;
    }
} */

/* @media all and (max-width: 1381px) {
    html {
        font-size: 70%;
    }
    h1 {
        margin-bottom: 20px;
    }
    h2 {
        margin-bottom: 15px;
    }
    h3 {
        margin-bottom: 3px;
    }
    h4 {
        margin-bottom: 3px;
    }
    section {
        width: calc(100vw - 141px);
    }

    button {
        width: 200px;
        height: 35px;
        padding: 0 15px;
    }
} */

/* @media all and (max-width: 1225px) {
    html {
        font-size: 64%;
    }
    h1 {
        font-size: 3rem;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 7px;
        line-height: 2.2rem;
    }
    h3 {
        margin-bottom: 2px;
    }
    h4 {
        margin-bottom: 2px;
    }
} */

/* @media all and (max-width: 961px) {
    .display-desktop {
        display: none;
    }
    .display-mobile {
        display: block;
    }

    html {
        font-size: 80%;
    }
    section {
        width: 100%;
        height: 100%;
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: #feaf3d #ffffff;
        flex-direction: column;
    }

    button {
        border-radius: 8px;
        width: 235px;
        height: 42px;
        padding: 0 17px;
    }
} */

/* @media all and (max-width: 641px) {
    html {
        font-size: 70%;
    }
    button {
        border-radius: 7px;
        width: 200px;
        height: 35px;
        padding: 0 15px;
    }
} */

/* @media all and (max-width: 481px) {
    html {
        font-size: 64%;
    }
} */

/* ! FLEX */

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.wrap {
    flex-flow: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.jc-sa {
    justify-content: space-around;
}

.jc-sb {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: flex-end;
}

.jc-start {
    justify-content: flex-start;
}

.jc-stretch {
    justify-content: stretch;
}

.ai-start {
    align-items: flex-start;
}

.ai-center {
    align-items: center;
}

.ai-stretch {
    align-items: stretch;
}

.ai-end {
    align-items: flex-end;
}

.as-end {
    align-self: flex-end;
}

.js-end {
    justify-self: flex-end;
}

.shrink {
    min-width: 0;
    flex-shrink: 1;
}

.grow {
    flex-grow: 1;
    flex-basis: 1;
}

.elastic {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    flex-shrink: 1;
}

.flex-basis-85 {
    flex-basis: 85%;
}

.flex-basis-60 {
    flex-basis: 60%;
}

.gap-50 {
    gap: 50px;
}
.gap-10 {
    gap: 10px;
}

/* @media all and (max-width: 1881px) {
    .gap-50 {
        gap: 42px;
    }
    .gap-10 {
        gap: 8px;
    }
    } */

/* @media all and (max-width: 1381px) {
    .gap-50 {
        gap: 35px;
    }
    .gap-10 {
        gap: 7px;
    }
} */

/* @media all and (max-width: 1225px) {
    .gap-50 {
        gap: 20px;
    }
    .gap-10 {
        gap: 5px;
    }
} */

/* ! MARGINS */

.mb100 {
    margin-bottom: 100px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb5 {
    margin-bottom: 5px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mr50 {
    margin-right: 50px;
}

.mr40 {
    margin-right: 40px;
}

.mr30 {
    margin-right: 30px;
}

.mr20 {
    margin-right: 20px;
}

.mr10 {
    margin-right: 10px;
}

.ml30 {
    margin-left: 30px;
}

.ml20 {
    margin-left: 20px;
}

.ml10 {
    margin-left: 10px;
}

.nomargin {
    margin: 0 !important;
}

/* @media all and (max-width: 1881px) {
    .mb50 {
        margin-bottom: 35px;
    }
    .mb30 {
        margin-bottom: 20px;
    }
    .mb20 {
        margin-bottom: 15px;
    }
    .mb10 {
        margin-bottom: 7px;
    }
    .mb5 {
        margin-bottom: 3px;
    }

    .mt5 {
        margin-top: 3px;
    }
    .mt10 {
        margin-top: 7px;
    }
    .mt20 {
        margin-top: 15px;
    }
    .mt30 {
        margin-top: 20px;
    }

    .mr30 {
        margin-right: 20px;
    }
    .mr20 {
        margin-right: 15px;
    }
    .mr10 {
        margin-right: 7px;
    }

    .ml30 {
        margin-left: 20px;
    }
    .ml20 {
        margin-left: 15px;
    }
    .ml10 {
        margin-left: 7px;
    }
} */

/* @media all and (max-width: 1381px) {
    .mb50 {
        margin-bottom: 35px;
    }
    .mb30 {
        margin-bottom: 20px;
    }
    .mb20 {
        margin-bottom: 15px;
    }
    .mb10 {
        margin-bottom: 7px;
    }
    .mb5 {
        margin-bottom: 3px;
    }

    .mt5 {
        margin-top: 3px;
    }
    .mt10 {
        margin-top: 7px;
    }
    .mt20 {
        margin-top: 15px;
    }
    .mt30 {
        margin-top: 20px;
    }

    .mr30 {
        margin-right: 20px;
    }
    .mr20 {
        margin-right: 15px;
    }
    .mr10 {
        margin-right: 7px;
    }

    .ml30 {
        margin-left: 20px;
    }
    .ml20 {
        margin-left: 15px;
    }
    .ml10 {
        margin-left: 7px;
    }
} */

/* @media all and (max-width: 1225px) {
    .mb50 {
        margin-bottom: 25px;
    }
    .mb30 {
        margin-bottom: 15px;
    }
    .mb20 {
        margin-bottom: 10px;
    }
    .mb10 {
        margin-bottom: 5px;
    }
    .mb5 {
        margin-bottom: 2px;
    }

    .mt5 {
        margin-top: 2px;
    }
    .mt10 {
        margin-top: 5px;
    }
    .mt20 {
        margin-top: 10px;
    }
    .mt30 {
        margin-top: 15px;
    }

    .mr30 {
        margin-right: 15px;
    }
    .mr20 {
        margin-right: 10px;
    }
    .mr10 {
        margin-right: 5px;
    }

    .ml30 {
        margin-left: 15px;
    }
    .ml20 {
        margin-left: 10px;
    }
    .ml10 {
        margin-left: 5px;
    }
} */