.outsourcing-block {
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
    position: relative;
    z-index: 0;
}

.outsourcing-block__content {
    display: grid;
    grid-template-columns: min-content repeat(3, minmax(180px, auto));
    grid-template-rows: 17% clamp(50px, 8%, 100px) 60% 15%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.outsourcing-block__header {
    grid-column-start: 1;
    grid-column-end: 5;
    border-left: 2px solid #BCD3E5;
    border-right: 2px solid #BCD3E5;
    height: 100%;
}

.outsourcing-block__header h2 {
    padding-top: 9.25vh;
}

.outsourcing-block__tabs {
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    height: 100%;
}

.outsourcing-lists {
    grid-column-start: 1;
    grid-column-end: 5;
    box-sizing: border-box;
    border: 2px solid #BCD3E5;
    border-top: none;
    padding: 60px 0 0 60px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
}

.outsourcing-block__case-btn {
    grid-column-start: 1;
    grid-column-end: 2;
    border-left: 2px solid #BCD3E5;
    border-right: 2px solid #BCD3E5;
    height: 100%;
    margin-top: 5.55vh;
}

.outsourcing-block__case-text {
    grid-column-start: 2;
    grid-column-end: 5;
    margin-top: 5.7vh;
    margin-left: 40px;
}

.outsourcing-block__tab {
    box-sizing: border-box;
    padding: 18px;
    width: calc(100% / 3);
    background-color: #FFFFFF;
    color: #00406066;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.4rem;
    transition: 0.3s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.outsourcing-block__tab--active, .outsourcing-block__tab:hover {
    background-color: #005783;
    color: #FFFFFF;
}

.outsourcing-lists__services-block.outsourcing-lists__services-block--active {
    display: block;
}

.outsourcing-lists__services-block {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: none;
}

.outsourcing-lists__includes-block {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px 60px;
    background-color: #72a2c733;
}

.outsourcing-lists__services {
    width: 65%;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.outsourcing-lists__service {
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
    color: #7B96A4;
    text-decoration: underline;
    font-weight: 400;
    font-size: 1.38rem;
    line-height: 1.8rem;
}

.outsourcing-lists__service--active, .outsourcing-lists__service:hover {
    color: #003651;
}

ul.bulleted {
    list-style: none;
    color: #003651;
    margin: 0;
    padding-left: 20px;
    gap: 20px;
    font-weight: 400;
    font-size: 1.38rem;
    line-height: 1.8rem;
}

ul.bulleted li {
    display: flex;
    align-items: center;
    min-height: 40px;
    position: relative;
}

ul.bulleted li::before {
    position: absolute;
    content: ' ';
    background-color: #00334D;
    width: 5px;
    min-height: 40px;
    height: 100%;
    display: inline-block;
    font-size: 2rem;
    margin-left: -20px;
}

.outsourcing-lists__price {
    font-size: 1.38rem;
}

button.outsourcing-lists__download {
    width: 340px;
}

@media all and ( (max-width: 1881px) or (max-height: 984px) ) {
    .outsourcing-block__content {
        grid-template-columns: min-content repeat(3, minmax(150px, auto));
    }

    .outsourcing-block__tab {
        padding: 15px;
    }
    
    .outsourcing-lists {
        padding: 50px 0 0 50px;
        margin-bottom: 42px;
    }
    
    .outsourcing-lists__services-block {
        padding: 0 50px 33px 0;
    }
    
    .outsourcing-lists__includes-block {
        padding: 33px 50px;
    }
    
    .outsourcing-lists__services {
        gap: 33px;
    }
    
    .outsourcing-lists__service {
        height: 33px;
    }

    .outsourcing-block__case-text {
        margin-left: 33px;
    }
    
    ul.bulleted {
        padding-left: 16px;
        gap: 16px;
    }
    
    ul.bulleted li {
        min-height: 33px;
    }
    
    ul.bulleted li::before {
        width: 4px;
        min-height: 33px;
        margin-left: -16px;
    }
    
    button.outsourcing-lists__download {
        width: 285px;
    }
}

@media all and ( (max-width: 1561px) or (max-height: 835px) ) {
    .outsourcing-block__content {
        grid-template-columns: min-content repeat(3, minmax(126px, auto));
    }

    .outsourcing-block__tab {
        padding: 12px;
    }
    
    .outsourcing-lists {
        padding: 42px 0 0 42px;
        margin-bottom: 35px;
    }
    
    .outsourcing-lists__services-block {
        padding: 0 42px 28px 0;
    }
    
    .outsourcing-lists__includes-block {
        padding: 28px 42px;
    }
    
    .outsourcing-lists__services {
        gap: 28px;
    }
    
    .outsourcing-lists__service {
        height: 28px;
    }

    .outsourcing-block__case-text {
        margin-left: 28px;
    }
    
    ul.bulleted {
        padding-left: 14px;
        gap: 14px;
    }
    
    ul.bulleted li {
        min-height: 28px;
    }
    
    ul.bulleted li::before {
        width: 3px;
        min-height: 28px;
        margin-left: -14px;
    }
    
    button.outsourcing-lists__download {
        width: 238px;
    }
}

@media all and ( (max-width: 1295px) or (max-height: 698px) ) {
    .outsourcing-block__content {
        grid-template-columns: min-content repeat(3, minmax(108px, auto));
    }

    .outsourcing-block__tab {
        padding: 10px;
    }
    
    .outsourcing-lists {
        padding: 36px 0 0 24px;
        margin-bottom: 30px;
    }
    
    .outsourcing-lists__services-block {
        padding: 0 36px 24px 0;
    }
    
    .outsourcing-lists__includes-block {
        padding: 24px 36px;
    }
    
    .outsourcing-lists__services {
        gap: 24px;
    }
    
    .outsourcing-lists__service {
        height: 24px;
    }

    .outsourcing-block__case-text {
        margin-left: 24px;
    }
    
    ul.bulleted {
        padding-left: 12px;
        gap: 12px;
    }
    
    ul.bulleted li {
        min-height: 24px;
    }
    
    ul.bulleted li::before {
        width: 3px;
        min-height: 24px;
        margin-left: -12px;
    }
    
    button.outsourcing-lists__download {
        width: 204px;
    }
    
    .outsourcing-block__tabs .v-line {
        width: 933px;
        height: 162px;
    }
    
    .outsourcing-block__case-btn .v-line {
        width: 154px;
        height: 74px;
    }
}

@media all and ( (max-width: 1110px) or (max-height: 556px) ) {
    .outsourcing-block__content {
        grid-template-columns: min-content repeat(3, minmax(90px, auto));
    }

    .outsourcing-block__header {
        border-left: 1px solid #BCD3E5;
        border-right: 1px solid #BCD3E5;
    }

    .outsourcing-block__tab {
        padding: 9px;
    }
    
    .outsourcing-lists {
        border: 1px solid #BCD3E5;
        padding: 30px 0 0 30px;
        margin-bottom: 25px;
    }

    .outsourcing-block__case-btn {
        grid-column-start: 1;
        grid-column-end: 2;
        border-left: 1px solid #BCD3E5;
        border-right: 1px solid #BCD3E5;
        height: 100%;
        margin-top: 5.55vh;
    }
    
    .outsourcing-lists__services-block {
        padding: 0 30px 20px 0;
    }
    
    .outsourcing-lists__includes-block {
        padding: 20px 30px;
    }
    
    .outsourcing-lists__services {
        gap: 20px;
    }
    
    .outsourcing-lists__service {
        height: 20px;
    }

    .outsourcing-block__case-text {
        margin-left: 20px;
    }
    
    ul.bulleted {
        padding-left: 10px;
        gap: 10px;
    }
    
    ul.bulleted li {
        min-height: 20px;
    }
    
    ul.bulleted li::before {
        width: 2px;
        min-height: 20px;
        margin-left: -10px;
    }
    
    button.outsourcing-lists__download {
        width: 170px;
    }
}

@media all and (max-width: 961px) {
    .outsourcing-block {
        height: auto;
        padding: 0;
    }
    
    .outsourcing-block__content {
        box-sizing: border-box;
        height: 100%;
        padding: 50px 0;
    }
    
    .outsourcing-block__tab {
        width: calc(100% / 3);
        padding: 15px;
    }
    
    .outsourcing-lists {
        border: none;
        padding: 30px 0;
        height: auto;
        margin-bottom: 0px;
    }
    
    .outsourcing-lists__services-block {
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        padding: 0 30px 20px 0;
        display: none;
    }
    
    .outsourcing-lists__includes-block {
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        padding: 40px 40px;
        background-color: #72a2c733;
    }
    
    .outsourcing-lists__services {
        width: 100%;
        gap: 20px;
    }
    
    .outsourcing-lists__service {
        height: auto;
        min-height: 50px;
        width: 100%;
        font-size: 1.4rem;
        line-height: normal;
    }
    
    ul.bulleted {
        padding-left: 20px;
        gap: 20px;
    }
    
    ul.bulleted li {
        min-height: 40px;
    }
    
    ul.bulleted li::before {
        width: 5px;
        min-height: 40px;
        margin-left: -20px;
    }
    
    .outsourcing-lists__price {
        width: 100%;
        margin-top: 20px;
        font-size: 1.6rem;
    }
    
    button.outsourcing-lists__download {
        margin-top: 20px;
        width: 100%;
        font-size: 1.6rem;
    }

    .outsourcing-block__case-btn {
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }
    .outsourcing-block__case-btn span {
        font-size: 1.8rem;
        line-height: normal;
        text-align: center;
    }

}