.outsourcing-block {
    width: 100%;
    height: 1080px;
    background-color: #F5F5F5;
    position: relative;
    z-index: 0;
}

.outsourcing-block__content {
    box-sizing: border-box;
    height: 100%;
    padding: 100px 0 60px;
}

.outsourcing-block__tab {
    box-sizing: border-box;
    padding: 18px;
    width: 34%;
    background-color: #FFFFFF;
    color: #00406066;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.4rem;
    transition: 0.3s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.outsourcing-block__tab--active, .outsourcing-block__tab:hover {
    background-color: #005783;
    color: #FFFFFF;
}

.outsourcing-lists {
    box-sizing: border-box;
    border: 2px solid #BCD3E5;
    border-top: none;
    padding: 60px 0 0 60px;
    height: 640px;
    margin-bottom: 50px;
}

.outsourcing-lists__services-block.outsourcing-lists__services-block--active {
    display: block;
}

.outsourcing-lists__services-block {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 60px 40px 0;
    display: none;
}

.outsourcing-lists__includes-block {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px 60px;
    background-color: #72a2c733;
}

.outsourcing-lists__services {
    width: 65%;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.outsourcing-lists__service {
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
    color: #7B96A4;
    text-decoration: underline;
    font-weight: 400;
    font-size: 1.38rem;
    line-height: 1.8rem;
}

.outsourcing-lists__service--active, .outsourcing-lists__service:hover {
    color: #003651;
}

ul.bulleted {
    list-style: none;
    color: #003651;
    margin: 0;
    padding-left: 20px;
    gap: 20px;
    font-weight: 400;
    font-size: 1.38rem;
    line-height: 1.8rem;
}

ul.bulleted li {
    display: flex;
    align-items: center;
    min-height: 40px;
    position: relative;
}

ul.bulleted li::before {
    position: absolute;
    content: ' ';
    background-color: #00334D;
    width: 5px;
    min-height: 40px;
    height: 100%;
    display: inline-block;
    font-size: 2rem;
    margin-left: -20px;
}

.outsourcing-lists__price {
    font-size: 1.38rem;
}

button.outsourcing-lists__download {
    width: 340px;
}

.outsourcing-block__tabs .v-line {
    border-left: 2px solid #BCD3E5;
    border-right: 2px solid #BCD3E5;
    bottom: 0;
    left: 0;
    width: 1556px;
    height: 270px;
}

.outsourcing-block__case-btn .v-line {
    border-left: 2px solid #BCD3E5;
    border-right: 2px solid #BCD3E5;
    top: 0;
    width: 258px;
    height: 120px;
}

@media all and (max-width: 1881px) {
    .outsourcing-block {
        height: 907px;
    }
    
    .outsourcing-block__content {
        padding: 84px 0 50px;
    }
    
    .outsourcing-block__tab {
        padding: 15px;
    }
    
    .outsourcing-lists {
        padding: 50px 0 0 50px;
        height: 537px;
        margin-bottom: 42px;
    }
    
    .outsourcing-lists__services-block {
        padding: 0 50px 33px 0;
    }
    
    .outsourcing-lists__includes-block {
        padding: 33px 50px;
    }
    
    .outsourcing-lists__services {
        gap: 33px;
    }
    
    .outsourcing-lists__service {
        height: 33px;
    }
    
    ul.bulleted {
        padding-left: 16px;
        gap: 16px;
    }
    
    ul.bulleted li {
        min-height: 33px;
    }
    
    ul.bulleted li::before {
        width: 4px;
        min-height: 33px;
        margin-left: -16px;
    }
    
    button.outsourcing-lists__download {
        width: 285px;
    }
    
    .outsourcing-block__tabs .v-line {
        width: 1307px;
        height: 226px;
    }
    
    .outsourcing-block__case-btn .v-line {
        width: 216px;
        height: 102px;
    }
}

@media all and (max-width: 1561px) {
    .outsourcing-block {
        height: 756px;
    }
    
    .outsourcing-block__content {
        padding: 70px 0 42px;
    }
    
    .outsourcing-block__tab {
        padding: 12px;
    }
    
    .outsourcing-lists {
        padding: 42px 0 0 42px;
        height: 448px;
        margin-bottom: 35px;
    }
    
    .outsourcing-lists__services-block {
        padding: 0 42px 28px 0;
    }
    
    .outsourcing-lists__includes-block {
        padding: 28px 42px;
    }
    
    .outsourcing-lists__services {
        gap: 28px;
    }
    
    .outsourcing-lists__service {
        height: 28px;
    }
    
    ul.bulleted {
        padding-left: 14px;
        gap: 14px;
    }
    
    ul.bulleted li {
        min-height: 28px;
    }
    
    ul.bulleted li::before {
        width: 3px;
        min-height: 28px;
        margin-left: -14px;
    }
    
    button.outsourcing-lists__download {
        width: 238px;
    }
    
    .outsourcing-block__tabs .v-line {
        width: 1089px;
        height: 189px;
    }
    
    .outsourcing-block__case-btn .v-line {
        width: 180px;
        height: 84px;
    }
}

@media all and (max-width: 1295px) {
    .outsourcing-block {
        height: 648px;
    }
    
    .outsourcing-block__content {
        padding: 60px 0 36px;
    }
    
    .outsourcing-block__tab {
        padding: 10px;
    }
    
    .outsourcing-lists {
        padding: 36px 0 0 24px;
        height: 384px;
        margin-bottom: 30px;
    }
    
    .outsourcing-lists__services-block {
        padding: 0 36px 24px 0;
    }
    
    .outsourcing-lists__includes-block {
        padding: 24px 36px;
    }
    
    .outsourcing-lists__services {
        gap: 24px;
    }
    
    .outsourcing-lists__service {
        height: 24px;
    }
    
    ul.bulleted {
        padding-left: 12px;
        gap: 12px;
    }
    
    ul.bulleted li {
        min-height: 24px;
    }
    
    ul.bulleted li::before {
        width: 3px;
        min-height: 24px;
        margin-left: -12px;
    }
    
    button.outsourcing-lists__download {
        width: 204px;
    }
    
    .outsourcing-block__tabs .v-line {
        width: 933px;
        height: 162px;
    }
    
    .outsourcing-block__case-btn .v-line {
        width: 154px;
        height: 74px;
    }
}

@media all and (max-width: 1110px) {
    .outsourcing-block {
        height: 540px;
    }
    
    .outsourcing-block__content {
        padding: 50px 0 30px;
    }
    
    .outsourcing-block__tab {
        padding: 9px;
    }
    
    .outsourcing-lists {
        border: 1px solid #BCD3E5;
        padding: 30px 0 0 30px;
        height: 320px;
        margin-bottom: 25px;
    }
    
    .outsourcing-lists__services-block {
        padding: 0 30px 20px 0;
    }
    
    .outsourcing-lists__includes-block {
        padding: 20px 30px;
    }
    
    .outsourcing-lists__services {
        gap: 20px;
    }
    
    .outsourcing-lists__service {
        height: 20px;
    }
    
    ul.bulleted {
        padding-left: 10px;
        gap: 10px;
    }
    
    ul.bulleted li {
        min-height: 20px;
    }
    
    ul.bulleted li::before {
        width: 2px;
        min-height: 20px;
        margin-left: -10px;
    }
    
    button.outsourcing-lists__download {
        width: 170px;
    }
    
    .outsourcing-block__tabs .v-line {
        border-left: 1px solid #BCD3E5;
        border-right: 1px solid #BCD3E5;
        width: 778px;
        height: 135px;
    }
    
    .outsourcing-block__case-btn .v-line {
        border-left: 1px solid #BCD3E5;
        border-right: 1px solid #BCD3E5;
        width: 129px;
        height: 60px;
    }
}

@media all and (max-width: 961px) {
    .outsourcing-block {
        height: auto;
        padding: 0;
    }
    
    .outsourcing-block__content {
        box-sizing: border-box;
        height: 100%;
        padding: 50px 0;
    }
    
    .outsourcing-block__tab {
        width: calc(100% / 3);
        padding: 15px;
    }
    
    .outsourcing-lists {
        border: none;
        padding: 30px 0;
        height: auto;
        margin-bottom: 0px;
    }
    
    .outsourcing-lists__services-block {
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        padding: 0 30px 20px 0;
        display: none;
    }
    
    .outsourcing-lists__includes-block {
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        padding: 40px 40px;
        background-color: #72a2c733;
    }
    
    .outsourcing-lists__services {
        width: 100%;
        gap: 20px;
    }
    
    .outsourcing-lists__service {
        height: auto;
        min-height: 50px;
        width: 100%;
        font-size: 1.4rem;
        line-height: normal;
    }
    
    ul.bulleted {
        padding-left: 20px;
        gap: 20px;
    }
    
    ul.bulleted li {
        min-height: 40px;
    }
    
    ul.bulleted li::before {
        width: 5px;
        min-height: 40px;
        margin-left: -20px;
    }
    
    .outsourcing-lists__price {
        width: 100%;
        margin-top: 20px;
        font-size: 1.6rem;
    }
    
    button.outsourcing-lists__download {
        margin-top: 20px;
        width: 100%;
        font-size: 1.6rem;
    }

    .outsourcing-block__case-btn {
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }
    .outsourcing-block__case-btn span {
        font-size: 1.8rem;
        line-height: normal;
        text-align: center;
    }

}