.principles-block {
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
    position: relative;
    z-index: 1;
}

.principles-block__content {
    display: grid;
    grid-template-columns: min-content minmax(180px, auto);
    grid-template-rows: 13% 87%;
    box-sizing: border-box;
    height: 100%;
    border-left: 2px solid #BCD3E5;
    border-right: 2px solid #BCD3E5;
}

.principles-block__header {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100%;
}

.principles-block__video {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 2px solid #BCD3E5;
    margin-top: 10vh;
}

.principles-block__lists {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: end;
    box-sizing: border-box;
    /* height: 100%; */
    padding: 0 60px 0;
    margin-top: 10vh;
    margin-bottom: 12.96vh;
}

.principles-block__main-text {
    font-size: 1.75rem;
    line-height: 2.2rem;
    gap: 60px;
}

.principles-block__icon {
    width: 96px;
    height: 96px;
    border: 2px solid #00334D;
    background-color: #ffffffcc;
}

.principles-block__smaller-text {
    margin-left: 140px;
    font-size: 1.1rem;
    gap: 30px;
}

.principles-block__background-img {
    position: absolute;
    z-index: -1;
    width: 874px;
    top: -101px;
    left: -137px;
}

@media all and ( (max-width: 1881px) or (max-height: 984px) ) {
    .principles-block__content {
        grid-template-columns: min-content minmax(150px, auto);
    }
    
    .principles-block__lists {
        padding: 0 50px 0;
    }
    
    .principles-block__main-text {
        gap: 50px;
    }
    
    .principles-block__icon {
        width: 80px;
        height: 80px;
    }
    
    .principles-block__smaller-text {
        margin-left: 117px;
        gap: 25px;
    }
    
    .principles-block__background-img {
        width: 734px;
        top: -84px;
        left: -115px;
    }
}

@media all and ( (max-width: 1561px) or (max-height: 835px) ) {
    .principles-block__content {
        grid-template-columns: min-content minmax(126px, auto);
    }
    
    .principles-block__lists {
        padding: 0 42px 0;
    }
    
    .principles-block__main-text {
        gap: 42px;
    }
    
    .principles-block__icon {
        width: 67px;
        height: 67px;
    }
    
    .principles-block__smaller-text {
        margin-left: 98px;
        gap: 21px;
    }
    
    .principles-block__background-img {
        width: 611px;
        top: -70px;
        left: -95px;
    }
}

@media all and ( (max-width: 1295px) or (max-height: 698px) ) {
    .principles-block__content {
        grid-template-columns: min-content minmax(108px, auto);
    }
    
    .principles-block__lists {
        padding: 0 36px 0;
    }
    
    .principles-block__main-text {
        gap: 36px;
    }
    
    .principles-block__icon {
        width: 57px;
        height: 57px;
    }
    
    .principles-block__smaller-text {
        margin-left: 84px;
        gap: 18px;
    }
    
    .principles-block__background-img {
        width: 524px;
        top: -60px;
        left: -82px;
    }
}

@media all and ( (max-width: 1110px) or (max-height: 556px) ) {
    .principles-block__content {
        grid-template-columns: min-content minmax(90px, auto);
        border-left: 1px solid #BCD3E5;
        border-right: 1px solid #BCD3E5;
    }
    
    .principles-block__lists {
        padding: 0 30px 0;
    }
    
    .principles-block__main-text {
        gap: 30px;
    }
    
    .principles-block__icon {
        width: 48px;
        height: 48px;
        border: 1px solid #00334D;
    }
    
    .principles-block__smaller-text {
        margin-left: 70px;
        gap: 15px;
    }

    .principles-block__video {
        border-right: 1px solid #BCD3E5;
    }
    
    .principles-block__background-img {
        width: 437px;
        top: -50px;
        left: -68px;
    }
}

@media all and (max-width: 961px) {
    .principles-block {
        width: 100%;
        height: auto;
    }
    
    .principles-block__content {
        height: 100%;
        padding: 60px 0;
        border: none;
    }

    .principles-block__header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
        gap: 20px;
    }
    .principles-block__header span {
        font-size: 2.2rem;
    }
    
    .principles-block__lists {
        width: 100%;
        height: 100%;
        padding: 60px 0 0;
    }
    
    .principles-block__main-text {
        font-size: 1.75rem;
        line-height: 2.2rem;
        gap: 30px;
    }
    
    .principles-block__icon {
        width: 60px;
        height: 60px;
        border: 2px solid #00334D;
    }
    
    .principles-block__smaller-text {
        margin-left: 84px;
        font-size: 1.6rem;
        gap: 30px;
    }
    
    .principles-block__background-img {
        width: 110%;
        top: -70px;
        left: -45px;
    }
}